In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2020-10-22 06:22:53,-46.19,168.86,61.00,57,95,1.72
1,1,Saint-Augustin,CA,2020-10-22 06:22:53,51.23,-58.65,38.73,95,100,15.28
2,2,Barranca,PE,2020-10-22 06:22:53,-10.75,-77.77,60.91,90,72,5.28
3,3,Ruwi,OM,2020-10-22 06:22:53,23.60,58.55,89.60,15,2,3.36
4,4,Cidreira,BR,2020-10-22 06:22:54,-30.18,-50.21,65.34,88,100,17.96

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
## Create a Wind Speed Heatmap
# Heatmap of percent humidity
weights = wind
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
wind = city_data_df["Wind Speed"]
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

## Get Vacation Criteria
### Recall that you use the input() statement to prompt a user to enter information. To convert the input to a floating-point decimal number, wrap the input() statement with the float() method, like this: float(input()).

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
min_temp

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

75.0

In [10]:
max_temp

90.0

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Ruwi,OM,2020-10-22 06:22:53,23.60,58.55,89.60,15,2,3.36
8,8,Luoyang,CN,2020-10-22 06:22:54,34.68,112.45,78.01,99,0,2.39
13,13,Saint-Philippe,RE,2020-10-22 06:22:55,-21.36,55.77,80.60,65,20,23.04
18,18,Riyadh,SA,2020-10-22 06:22:56,24.69,46.72,78.80,16,0,9.17
21,21,Etchoropo,MX,2020-10-22 06:22:56,26.77,-109.67,80.01,81,0,1.01
23,23,Butaritari,KI,2020-10-22 06:18:23,3.07,172.79,82.09,72,47,8.77
24,24,Cabo San Lucas,MX,2020-10-22 06:22:57,22.89,-109.91,81.00,70,0,1.99
31,31,Sinnamary,GF,2020-10-22 06:21:40,5.38,-52.95,79.14,84,45,9.13
44,44,Bambous Virieux,MU,2020-10-22 06:23:00,-20.34,57.76,80.60,57,75,14.99
50,50,Zhuhai,CN,2020-10-22 06:23:01,22.28,113.57,80.60,61,36,20.80

In [12]:
preferred_cities_df.count()

City_ID       214
City          214
Country       213
Date          214
Lat           214
Lng           214
Max Temp      214
Humidity      214
Cloudiness    214
Wind Speed    214
dtype: int64

### Map Vacation Criteria
#### Get Travel Destinations

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
3              Ruwi      OM     89.60  23.60   58.55
8           Luoyang      CN     78.01  34.68  112.45
13   Saint-Philippe      RE     80.60 -21.36   55.77
18           Riyadh      SA     78.80  24.69   46.72
21        Etchoropo      MX     80.01  26.77 -109.67
23       Butaritari      KI     82.09   3.07  172.79
24   Cabo San Lucas      MX     81.00  22.89 -109.91
31        Sinnamary      GF     79.14   5.38  -52.95
44  Bambous Virieux      MU     80.60 -20.34   57.76
50           Zhuhai      CN     80.60  22.28  113.57

### Retrieve Hotels from a Nearby Search
##### Recall that when we made a request with the OpenWeatherMap API, we added the base URL with the city, city_url, to the request, city_weather = requests.get(city_url).

In [1]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

NameError: name 'g_key' is not defined

In [31]:
### Recall that when trying to parse the data from an API request, we need to use a try-except block to handle the error with a statement and continue the retrieval.

In [33]:
# Grab the first hotel from the results and store the name.
  try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
  except (IndexError, NewError, NewError):
    print("Hotel not found... skipping.")

IndentationError: unexpected indent (<ipython-input-33-d628dd4925b4>, line 2)

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))